<nav class="navbar">
    <div class="container">
        <div  class="logo-container">
            <img src="assets\Logo-1.jpg">
        </div>
        <div class="nav-links">
            <a href="/" class="nav-link">Inicio</a>
            <a href="#about-us" class="nav-link">Quienes Somos</a>
        </div>
        <div class="buttons-container">
            <button class="btn" routerLink="/auth/login">Iniciar Sesión</button>
            <button class="btn" routerLink="/auth/register">Crear Cuenta</button>
        </div>
    </div>
</nav>
