<div class="seccion-principal" id="home" style="background-image: url('assets/landing/Principal.jpg');">
    <div class="texto-principal">
      <h1>Bienvenidos a GreenComm</h1>
      <p>Uniendo esfuerzos para un mundo más verde</p>
      <button class="boton-unirse" routerLink="/auth/login">Únete Ahora!!!</button>
    </div>
  </div>

  <div class="beneficios">
    <div class="box-container">
      <div class="box">
        <img src="assets/landing/Beneficios/1.webp" alt="Participa en Eventos">
        <p>Participa en Eventos</p>
      </div>
      <div class="box">
        <img src="assets/landing/Beneficios/2.jpg" alt="Completa Desafíos">
        <p>Completa Desafíos</p>
      </div>
      <div class="box">
        <img src="assets/landing/Beneficios/3.jpg" alt="Publica tus Acciones por el Medio Ambiente">
        <p>Publica tus Acciones por el Medio Ambiente</p>
      </div>
      <div class="box">
        <img src="assets/landing/Beneficios/4.jpg" alt="Calcula y Reduce tu Huella de Carbono">
        <p>Calcula y Reduce tu Huella de Carbono</p>
      </div>
    </div>
  </div>

  <div class="container" id="about-us">
    <div class="box-1">
      <div class="text-container">
          <p class="title">¿Quienes Somos?</p>
          <p class="parrafo">En GreenComm, somos un equipo comprometido con el 
            futuro del planeta. Nuestra misión es empoderar a 
            individuos y comunidades para que adopten un estilo 
            de vida más sostenible mediante el uso de tecnología 
            innovadora y participación activa. </p>
          <p class="parrafo">Unimos a personas de todas partes para aprender, 
              compartir y contribuir a hacer del mundo un lugar más 
              verde y saludable para todos.</p>
      </div>
      <img src="assets/landing/Imagen2.png" alt="imagen">
    </div>
  </div>

  <div class="mision-vision-container">
    <div class="mision">
        <div class="titulo">
          <img src="assets/landing/hoja.png" alt="Icono de Misión">
          <h2>Misión</h2>
        </div>
        <p>Impulsar la adopción de prácticas sostenibles a través de educación y tecnología, empoderando a individuos y comunidades.</p>
    </div>
    <div class="vision">
        <div class="titulo">
          <img src="assets/landing/hoja.png" alt="Icono de Visión">
          <h2>Visión</h2>
        </div>
        <p>Ser una plataforma líder en sostenibilidad, fomentando un futuro más verde y responsable globalmente.</p>
    </div>
</div>

  


