

<div class="inicio-container">
    <h1 class="centered-text">EL AMOR POR LA NATURALEZA ES EL PRIMER PASO HACIA SU PROTECCIÓN</h1>
</div>

<!-- Nuevo contenedor debajo de home-container -->
<div class="home-container">
    <div class="left-container">
        <div class="button-container">
            <button class="crear-btn-publi" (click)="abrirModalpublicacion()">Crear Publicación</button>
        </div>
        <div class="publications-title">
            PUBLICACIONES
        </div>

        <div class="publicacion-container" *ngFor="let publicacion of publicaciones">
            <div class="publicacion-texto">
                <h2 class="publicacion-titulo">{{ publicacion.titulo }}</h2>
                <p class="publicacion-descripcion">{{ publicacion.descripcion }}</p>
                <div class="publicacion-footer">
                    <span class="publicacion-autor">{{ publicacion.autor }}</span>
                    <span class="publicacion-fecha">{{ publicacion.fecha | date: 'dd/MM/yyyy' }} - {{ publicacion.hora }}</span>
                </div>
            </div>
            <div class="divisor"></div> 
            <div class="publicacion-imagen">
                <img *ngIf="publicacion.imagenBase64" [src]="publicacion.imagenBase64" alt="Imagen de la publicación">
            </div>
        </div>
        <div *ngIf="publicaciones.length === 0">
            <p *ngIf="authService.isAuthenticated()">No se encontraron publicaciones.</p>
        </div>
        <div *ngIf="!authService.isAuthenticated()">
            <p>Inicia sesion para poder ver las publicaciones.</p>
            <a href="/auth/login">Iniciar Sesion</a>
        </div>
        <div class="modal-publicacion" [class.active-publicacion]="mostrarModalpublicacion">
            <div class="modal-content-publicacion">
                <button class="close-btn-publicacion" (click)="cerrarModalpublicacion()">&times;</button>
                <app-publication></app-publication>
            </div>
        </div>
        
    </div>
    <div class="right-container">
        <div class="button-container-eve">
            <button class="crear-btn-event" (click)="abrirModalevento()">Crear Evento</button>
        </div>
        <div class="eventos-title">
            EVENTOS
        </div>

        <div class="evento-container" *ngFor="let evento of eventos">
            <div class="evento-texto">
                <h2 class="evento-titulo">{{ evento.titulo }}</h2>
                <p class="evento-descripcion">{{ evento.descripcion }}</p>
                <div class="evento-footer">
                    <div class="evento-fecha-hora">
                        <span>Fecha: {{ evento.fecha | date: 'dd/MM/yyyy' }}</span>
                        <span>Hora: {{ evento.hora }}</span>
                    </div>

                    <div class="divider"></div>
                    <a class="evento-link" href="{{ evento.link }}" target="_blank">Link para unirse</a>
                </div>
            </div>
        </div>
        <div *ngIf="eventos.length === 0">
            <p style="color: white;" *ngIf="authService.isAuthenticated()">No se encontraron eventos.</p>
        </div>
        <div *ngIf="!authService.isAuthenticated()">
            <p style="color: white;">Inicia sesion para poder ver los eventos.</p>
            <a style="color: white;" href="/auth/login">Iniciar Sesion</a>
        </div>

        <div class="modal-evento" [class.active-evento]="mostrarModalevento">
            <div class="modal-content-evento">
                <button class="close-btn-evento" (click)="cerrarModalevento()">&times;</button>
                <app-event></app-event>
            </div>
        </div>
        
    </div>
</div>

